/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*wildcard selector remove default styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: Lato, sans-serif;
    font-weight: 300;

}

h1, h2, h3 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #252525;
}

/*header style*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 5px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;

}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0px;
    box-shadow: 0px 2px 5px #3a3a3a;
    padding: 0 1rem;
    display: none;
    top: 100%
}

/*Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*main style*/
main {
    /* make main content take up most of the page*/
    flex: 1 0 auto;
    margin-top: 40px;
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* adding opacity to background color */
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff
}

#reasons {
    margin: 20px auto;
}

#reasons > h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits {
    margin-top: 20px;
}
 
/*footer style*/

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*Media Query*/

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 92px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }
}
/* large devices (laptops and desktops, 992px and up */
@media screen and (min-width: 992px) {
    #menu a:hover {
        cursor: pointer;
        border-bottom: 1px solid #3a3a3a;
    }
}